body {
    text-align: center;
    text-transform: uppercase;
    background: greenyellow;
    text-shadow: 25px;
}
title{
    text-align: right;
    background: aquamarine;
    text-shadow: 25px;
}